@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Jura:wght@300;400;500;600;700&family=Kelly+Slab&display=swap");
body {
	box-sizing: border-box;
	background-color: rgba(255, 247, 128, 0.2);
	font-size: 20px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.menu {
	padding: 20px 0 0 0;
	font-family: "Jura", sans-serif;
	font-weight: 700;
	color: darkred;
	text-align: right;
	font-size: 20px;
}
.menu li {
	display: inline-block;
	padding: 5px;
}
a {
	color: darkred;
	text-decoration: underline;
}
.header-img {
	display: block;
	margin: 0 auto 20px;
	border: 3px solid darkred;
}
h1 {
	font-family: "Comforter Brush", cursive;
	text-shadow: 1px 1px 5px darkred;
	font-size: 65px;
	text-align: center;
	color: darkred;
	margin: 20px 0 20px 0;
}
h2 {
	font-family: "Jura", sans-serif;
	font-weight: 700;
	margin: 0 0 20px 0;
	color: darkred;
	text-align: center;
	font-size: 25px;
}
.text-tale {
	font-family: "Kelly Slab", cursive;
	text-indent: 20px;
	text-align: justify;
}
.images {
	margin: 0 auto;
	max-width: 700px;
}
.images img {
	margin: 20px;
	max-width: 300px;
	border: 3px solid darkred;
}
.par-insert {
	font-weight: bold;
}
.text-column {
	font-size: 0;
	max-height: 400px;
	overflow: scroll;
	margin: 0 0 30px 0;
}
.text-column-1 {
	max-width: 40%;
	font-size: 20px;
	padding: 30px;
	display: inline-block;
}
.text-column-2 {
	font-size: 20px;
	padding: 30px;
	max-width: 40%;
	display: inline-block;
}
.block-video {
	padding: 30px;
	margin: 0 auto;
	max-width: 400px;
	max-height: 200px;
	background-color: rgba(255, 247, 128, 0.5);
	border: 3px solid darkred;
	text-align: center;
	font-family: "Jura", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
